<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="es">
<head>
<meta charset="ISO-8859-1">
<title>Cita</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<nav th:replace="/layout/template"></nav>
	
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <img src="" alt="">
            </div>
            <div class="col-xl-6">
                <h4>Nombre</h4>
                <p th:text="${professional.firstName}"></p>
                <h4>Apellido</h4>
                <p th:text="${professional.lastName}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8">
            	<h4>Mensaje enviado</h4>
                <p th:text="${meeting.message}"></p>
            </div>
            <div class="col-xl-4">
                <h4>Dirección</h4>
                <p th:text="${professional.address}"></p>
                <h4>Número</h4>
                <p th:text="${professional.number}"></p>
                <h4>Fecha</h4>
                <p th:text="${meeting.date}"></p>
            </div>
        </div>
    </div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>