<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="es">
<head>
<meta charset="utf-8">
<title>Profesionales</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/video.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav th:replace="/layout/template"></nav>

    <div class="container">
    
    
        <section>
        
        <nav th:replace="/layout/template"></nav>
            <div class="psicologos">
            
                <h2 align="center">Psicologos</h2>
                <p align="justify">
                    Con el objetivo de permitir a más personas acceder a nuestro tratamiento especializado en psicoterapia, 
                    y gracias a los últimos avances en telemedicina, en Odebrecht hemos desarrollado el servicio de psicoterapia 
                    online, a cargo de nuestro experimentado equipo de psicólogos clínicos – psicoterapeutas, quienes podrán 
                    acompañarte, a través de videoconferencia, en el lugar que te encuentres o de forma presencial, desde la comodidad de tu hogar 
                    u oficina.
                </p>
                <br>

                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6" th:each="psicologos : ${psicologo}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${psicologos.firstName}"></h5>
                                <p class="card-text" th:text="${psicologos.description}"></p>
                                <a href="#" class="btn btn-primary" th:href="@{/professionals/} +${psicologos.id}" sec:authorize="isAuthenticated()">Ver perfil</a>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <h2 align="center">Psiquiatras</h2>
                <p align="justify">
                    Se enfocan en un tratamiento integral del paciente para lograr su reinserción a la actividad laboral 
                    así como a sus núcleos sociales y sobretodo familiares.
				<br>
					Nos interesa detectar señales tempranas de alarma que permitan una intervención precoz y siempre tratar 
					de reducir impactos negativos en el futuro paciente, así como en el de su entorno. Brinda el soporte a 
					pacientes sin historia de trastornos mentales previos con procesos reactivos a enfermedades físicas.
                </p>

                <br>

                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6" th:each="psiquiatras : ${psiquiatra}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${psiquiatras.firstName}"></h5>
                                <p class="card-text" th:text="${psiquiatras.description}"></p>
                                <a href="#" class="btn btn-primary" th:href="@{/professionals/} +${psiquiatras.id}" sec:authorize="isAuthenticated()">Ver perfil</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
               
                
            </div>
         
        </section>
        
    </div>
	
	
    <br><br>

    <footer th:replace="/layout/footer"></footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>